body
{
    background: #f5f5f5
}
.wrapper-page {
    margin: 5.5% auto;
    max-width: 460px;
    position: relative;
}
.logo-image
{
    display: inline-block;
}
.topbar
{
    background-color: #ffffff;
}
.logo-image img
{
    height: 100px;
    width: 200px;
}
.logout
{
    display: inline-block;
    float: right;
    margin-top: 30px;
}
.login-page
{
    text-align: center;
    background-color: #ffffff;
    padding-bottom: 50px;
}
img
{
    width: 100%;
}

.login-form input.form-control
{
    display: inline-block;
    width: auto;
}
.login-form label
{
    display: block;
    width: auto;
}
.transaction-page h1 a{
    float: right;
    margin-top: inherit;
}
.transaction-page .box-body
{
    margin: 2.5% auto;
    max-width: 460px;
    position: relative;
}
.transaction-page .export-link
{
    float: right;
}

.footer-page {
    background-color: #f9f9f9;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    bottom: 0;
    color: #0a1832;
    text-align: center;
    padding: 20px 30px;
    position: absolute;
    right: 0;
    left: 0;
}
